In [3]:
import pandas as pd

In [4]:
df_all_data=pd.read_csv('../input/jigsaw-unintended-bias-in-toxicity-classification/all_data.csv')
df_identity_individual=pd.read_csv('../input/jigsaw-unintended-bias-in-toxicity-classification/identity_individual_annotations.csv')
df_sub=pd.read_csv('../input/jigsaw-unintended-bias-in-toxicity-classification/sample_submission.csv')
df_test_private=pd.read_csv('../input/jigsaw-unintended-bias-in-toxicity-classification/test_private_expanded.csv')
df_test_public=pd.read_csv('../input/jigsaw-unintended-bias-in-toxicity-classification/test_public_expanded.csv')
df_test=pd.read_csv('../input/jigsaw-unintended-bias-in-toxicity-classification/test.csv')
df_toxicity_individual=pd.read_csv(('../input/jigsaw-unintended-bias-in-toxicity-classification/toxicity_individual_annotations.csv'))
df_train=pd.read_csv(('../input/jigsaw-unintended-bias-in-toxicity-classification/train.csv'))

In [5]:
print('df_all_data.shape ',df_all_data.shape)
print('df_identity_individual.shape ',df_identity_individual.shape)
print('df_sub.shape ',df_sub.shape)
print('df_test_private.shape ',df_test_private.shape)
print('df_test_public.shape ',df_test_public.shape)
print('df_test.shape ',df_test.shape)
print('df_toxicity_individual.shape ',df_toxicity_individual.shape)
print('df_train.shape ',df_train.shape)

df_all_data.shape  (1999516, 46)
df_identity_individual.shape  (2597365, 7)
df_sub.shape  (97320, 2)
df_test_private.shape  (97320, 45)
df_test_public.shape  (97320, 45)
df_test.shape  (97320, 2)
df_toxicity_individual.shape  (15855266, 9)
df_train.shape  (1804874, 45)

In [14]:
print('train target>0 number:',df_train[df_train.target>0].shape[0])
# print('test_private target>0 number:',df_test_private[df_test_private.target>0].shape[0])
# print('test_private target>0 number:',df_test_public[df_test_public.target>0].shape[0])
df_test_public.head(1)

train target>0 number: 540110

,id,comment_text,created_date,publication_id,parent_id,article_id,rating,funny,wow,sad,...,other_religion,black,white,asian,latino,other_race_or_ethnicity,physical_disability,intellectual_or_learning_disability,psychiatric_or_mental_illness,other_disability
0,7000000,Jeff Sessions is another one of Trump's Orwell...,2017-01-26 07:37:38.422417+00,13,NaN,164149,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# say that the private is follow the public
df_test_private.head(1)

,id,comment_text,created_date,publication_id,parent_id,article_id,rating,funny,wow,sad,...,other_religion,black,white,asian,latino,other_race_or_ethnicity,physical_disability,intellectual_or_learning_disability,psychiatric_or_mental_illness,other_disability
0,7097320,[ Integrity means that you pay your debts.]\n\...,2017-09-13 20:12:01.484121+00,21,5945023.0,376974,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_train.head(1)

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.0,"This is so cool. It's like, 'would you want yo...",0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4

In [18]:
df_toxicity_individual.head(1)

,id,worker,toxic,severe_toxic,identity_attack,insult,obscene,sexual_explicit,threat
0,59859,0,1,0,0,1,1,0,0

In [19]:
df_identity_individual.head(1)

,id,worker,disability,gender,race_or_ethnicity,religion,sexual_orientation
0,59856,211,none,none,none,none,none

In [25]:
print(df_train.shape)
print(df_train.id.unique().size)
print(df_identity_individual.id.unique().size)
print(df_toxicity_individual.id.unique().size)

(1804874, 45)
1804874
405159
1804874

In [26]:
df_toxicity_individual.columns

Index(['id', 'worker', 'toxic', 'severe_toxic', 'identity_attack', 'insult',
       'obscene', 'sexual_explicit', 'threat'],
      dtype='object')

In [27]:
df_identity_individual.columns

Index(['id', 'worker', 'disability', 'gender', 'race_or_ethnicity', 'religion',
       'sexual_orientation'],
      dtype='object')

In [30]:
set(df_train.columns) & (set(df_identity_individual.columns)|set(df_toxicity_individual.columns))

{'id', 'identity_attack', 'insult', 'obscene', 'sexual_explicit', 'threat'}